.listPage{
    display: flex;
    height: 100%;
    gap: 1px;
    
    .listContainer{
        flex: 3;
        height: 100%;
        .wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 38px; //changed from 50px to 38px because of scroll bar
            overflow-y: scroll;
            //overflow: auto;
            padding-bottom: 50px;
        }
    }
    .mapContainer{
        flex: 2;
        height: 100%;
        background-color: #fcf5f3;
    }
}